locals {
  etcd_clients = {
    {% for item in etcd.clients %}
      
      "{{ item.name }}" = {
        common_name = "{{ item.common_name }}"
        uris        = [
          {% for uri in item.dns_names %} "{{ uri }}", {% endfor %}

        ]
        dns_names   = [
          {% for uri in item.dns_names %} "{{ uri }}", {% endfor %}

        ]
        ips   = [
          {% for ip in item.ips | default([])  %} "{{ ip }}", {% endfor %}

        ]
      },
    {% endfor%}

  }
}

resource "tls_private_key" "etcd_client_key" {
  for_each = local.etcd_clients

  algorithm = "RSA"
  rsa_bits  = 4048
}

resource "tls_cert_request" "etcd_client_csr" {
  for_each = local.etcd_clients

  key_algorithm   = tls_private_key.etcd_client_key[each.key].algorithm
  private_key_pem = tls_private_key.etcd_client_key[each.key].private_key_pem
  dns_names       = each.value.dns_names
  ip_addresses    = each.value.ips
  subject {
    common_name  = each.value.common_name
    organization = "Binsabbar's Inc"
  }
}

resource "local_file" "etcd_client_key" {
  for_each = local.etcd_clients

  content         = tls_private_key.etcd_client_key[each.key].private_key_pem
  filename        = "${path.module}/${each.key}-key.pem"
  file_permission = "0600"
}